.jumbotron {
  margin: 0;
  padding: 20px;
  background-image: linear-gradient( to right, #362e24,
  #c28845, #f1cf84);
}

body {
  background-color: rgb(175, 168, 147);
}

img {
  border-style: inset indigo;
  box-shadow: 4px 4px 4px rgba(76, 0, 130, 0.699);
  
}