.jumbotron {
  margin: 0;
  padding: 10px;
  background-image: url(./jumboalt2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: relative;
  
}

body {
  background-color: rgba(70, 67, 61, 0.466);
}

h1, h2, h3 {
  color: rgb(74, 7, 129);
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: 700;
  
}

h1 {
  font-size: 80px;
}

h2 {
  font-size: 60px
}

h1, h2 {
  color: rgb(74, 7, 129);
  
  text-shadow:
       .5px .5px 0 rgb(208, 174, 253),
     -.5px -.5px 0  rgb(208, 174, 253),  
      .5px -.5px 0  rgb(208, 174, 253),
      -.5px .5px 0  rgb(208, 174, 253),
       .5px .5px 0  rgb(208, 174, 253);
}

img {
  border-style: inset indigo;
  box-shadow: 6px 6px 4px rgba(76, 0, 130, 0.699);
}

.navbar {
  background-color: #362e24e1;
}

li {
  font-size: large;
}

i, a {
  color: rgb(135, 49, 247);
}

button {
  color: #f7f0e8e1;
  background-color: indigo;
}

.site-footer {
  background-image: url(./jumboalt2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: relative;
  height: 350px;
  padding: 20px 0;
  margin-top: 5%;
}

.card-title {
  font-size: 40px;
  color: rgb(74, 7, 129);
  background-image: linear-gradient( to left, #413f3da1,
  #53402a67, #2105504f);
  
}

.card-text {
  font-size: x-large;
  font-weight: 600;
}

.card-body {
  background-image: linear-gradient( to left, #413f3da1,
  #53402a67, #2105504f);
}

.carousel-item {
  background-color: rgba(0, 0, 0, 0.24);
}

.carousel-caption {
  color: rgb(195, 173, 236);
  background-color: rgba(255, 255, 255, 0.404);
  box-shadow: 6px 6px 4px rgba(76, 0, 130, 0.5);
}

.carousel {
  box-shadow: 6px 6px 4px rgba(76, 0, 130, 0.699);
}

.carousel-indicators, .carousel-control {
  
}

.card-header {
  background-image: linear-gradient( to right, rgba(138, 4, 233, 0.37),
  rgba(102, 3, 173, 0.281), rgb(76, 0, 130));
  background-size: cover;
  font-size: xx-large;
  font-weight: bolder;
  
}

.card-subtitle {
  cursor: pointer;
}

.c {
  position: initial;
  max-width: 130%;
  max-height: 100%;
  width: 70ch;
  height: 50ch;
  cursor: pointer;
  display: flex;
  will-change: transform, opacity;
}

.front,
.back {
  background-size: cover;
  border-style: inset indigo;
  box-shadow: 6px 6px 4px rgba(76, 0, 130, 0.699);
}

.back {
  background-image: url(./koabear3.jpg);
  position: absolute;
  display: flex;
  margin-left: auto;
}

.front {
  background-image: url(./angrycoffeecat.jpg);
}




