.jumbotron {
  margin: 0;
  padding: 10px;
  background-image: url(./jumboalt2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: relative;
  
}

body {
  background-color: rgb(70, 67, 61);
}

h1, h2 {
  color: rgb(74, 7, 129);
  font-weight: 700;
}

h1 {
  font-size: 80px;
}

img {
  border-style: inset indigo;
  box-shadow: 6px 6px 4px rgba(76, 0, 130, 0.699);
  
}

.navbar {
  background-color: #362e24e1;
}

.site-footer {
  background-image: url(./jumboalt2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: relative;
  height: 350px;
  padding: 20px 0;
  margin-top: 5%;
}

.card-title {
  font-size: 40px;
}

.card-text {
  font-size: x-large;
  font-weight: 600;
}

.card-body {
  background-image: linear-gradient( to left, #413f3da1,
  #caa881a1, #eed49bdc);
}

.carousel-item {
  background-color: rgba(0, 0, 0, 0.589);
}

.carousel-caption {
  color: rgb(195, 173, 236);
  background-color: rgba(0, 0, 0, 0.5);
  box-shadow: 6px 6px 4px rgba(76, 0, 130, 0.5);
}

.carousel {
  box-shadow: 6px 6px 4px rgba(76, 0, 130, 0.699);
  
}

.card-header {
  background-image: linear-gradient( to left, #362e24,
  #c28845, #f1cf84);
  font-size: xx-large;
  font-weight: bolder;
  
}

.c {
  position: initial;
  max-width: 120%;
  max-height: 100%;
  width: 70ch;
  height: 50ch;
  cursor: pointer;
  display: flex;
  will-change: transform, opacity;
}

.front,
.back {
  background-size: cover;
}

.back {
  background-image: url(./koabear3.jpg);
  position: absolute;
  display: flex;
  
}

.front {
  background-image: url(./angrycoffeecat.jpg);
  
  
}


